<h1>Categories</h1>

<table class="table table-sm table-striped ml-4" style="max-width: 90rem;" >

  <thead  class="thead-dark">
	<tr>
  <th>ID</th>
  <th>Category Name</th>
  <th>Description</th>
  <th>Products</th>
  <th>Update</th>
  <th>Delete</th>
  </tr>
  </thead>

	<tbody>
  <% @categories.each do |category| %>
  <tr>
    <td><%= category.id %></td>
    <td><%= category.name %></td>
    <td><%= category.description %></td>
    <td><%= link_to "Products", category_products_path(category.id), class: "btn btn-info" %></td>
    <td><%= link_to "Update", edit_category_path(category.id), class: "btn btn-info" %></td>
    <td><%= link_to "Destroy", category_path(category.id), class: "btn btn-info" %></td>
  </tr>

  <% end %>
	</tbody>

</table>

<%= link_to "New Category", new_category_path, class: "btn btn-info" %>
<%= link_to "Download as CSV", categories_path(format: :csv), download: ["Categories", Date.today].join(""), class: "btn btn-info" %>
